"~/display-fix/reset-displays.sh"
    Control+Alt+d
"~/display-fix/reset-displays.sh reboot"
    Control+Alt+r
"~/display-fix/reset-displays.sh extend"
    Control+Alt+e
"~/display-fix/reset-displays.sh lock-rates"
    Control+Alt+p
"~/display-fix/reset-displays.sh reload-keys"
    Control+Alt+k
"~/display-fix/reset-displays.sh reload-keys"
    Control+Alt+k