"/home/trauco/scripts/chrome/claude1.sh"
  Control+Alt + 1
"/home/trauco/scripts/chrome/claude2.sh"
  Control+Alt + 2
"/home/trauco/scripts/chrome/claude3.sh"
  Control+Alt + 3
"/home/trauco/scripts/chrome/claude4.sh"
  Control+Alt + 4
"/home/trauco/scripts/chrome/claude-personal.sh"
  Control+Alt + 5
"/home/trauco/scripts/chrome/claude-dev.sh"
  Control+Alt + 6
"/home/trauco/scripts/chrome/openai-personal.sh"
  Control+Alt + 7
"/home/trauco/scripts/git/open-github-repo.sh"
  shift + F6

"/home/trauco/scripts/chrome/open_gmail.sh"
  Control+Alt + 8
"/home/trauco/scripts/chrome/open_linkedin.sh"
  Control+Alt + 9
"/home/trauco/scripts/chrome/open_gcp_trauco.sh"
  Control+Alt + 0
"flameshot gui"
  shift + F9
"xterm"
  Control+Alt + t
"xterm"
  Control+Alt + t




"~/display-fix/reset-displays.sh"
    Control+Alt+d
"~/display-fix/reset-displays.sh reboot"
    Control+Alt+r
